// Переменные для светлой темы
$light: (
  mainBg: #fff,
  bg: #f3f4f6,
  borderColor: #e9e9ea,
  borderColor2: #f0f0f0,
  border: 1px solid #e9e9ea,
  boxShadow: 0 3px 6px rgba(0, 0, 0, 0.05),
  brightText: #23272f,
  skeletonLight: #f2f2f2,
  skeletonDark: #e6e6e6,
  skeletonImage: linear-gradient(90deg, #f2f2f2, #e6e6e6, #f2f2f2),
  inverseText: #f6f7f9,
  mainRed: red,
  text: #404757,
  lightText: #5f697e,
  accent: #077ea5
);

// Переменные для темной темы
$dark: (
  mainBg: #23272f,
  bg: #1a1c22,
  borderColor: #2d2f33,
  borderColor2: #3e4148,
  border: 1px solid #2d2f33,
  boxShadow: 0 3px 6px rgba(255, 255, 255, 0.05),
  brightText: #f6f7f9,
  skeletonLight: #383838,
  skeletonDark: #2c2c2c,
  skeletonImage: linear-gradient(90deg, #383838, #2c2c2c, #383838),
  inverseText: #23272f,
  mainRed: red,
  text: #f6f7f9,
  lightText: #ebecf0,
  accent: #077ea5
);