@import "src/theming/mixins";

$headerHeight: 40px;

:export {
  headerHeight: $headerHeight;

  light_mainBg: map-get($light, mainBg);
  light_bg: map-get($light, bg);
  light_borderColor: map-get($light, borderColor);
  light_brightText: map-get($light, brightText);
  light_text: map-get($light, text);
  light_lightText: map-get($light, lightText);
  light_accent: map-get($light, accent);

  dark_mainBg: map-get($dark, mainBg);
  dark_bg: map-get($dark, bg);
  dark_borderColor: map-get($dark, borderColor);
  dark_brightText: map-get($dark, brightText);
  dark_text: map-get($dark, text);
  dark_lightText: map-get($dark, lightText);
  dark_accent: map-get($dark, accent);
}
