@import "mixins";

:export {
  light_backgroundErrorColor: map-get($light, backgroundErrorColor);
  light_mainYellow: map-get($light, mainYellow);
  light_mainPurple: map-get($light, mainPurple);
  light_mainPurpleLight: map-get($light, mainPurpleLight);
  light_mainOrange: map-get($light, mainOrange);
  light_mainRed: map-get($light, mainRed);
  light_mainRedLight: map-get($light, mainRedLight);
  light_mainGreen: map-get($light, mainGreen);
  light_mainGreenLight: map-get($light, mainGreenLight);
  light_mainBlue: map-get($light, mainBlue);
  light_mainBlueLight: map-get($light, mainBlueLight);
  light_disableColor: map-get($light, disableColor);
  light_lightBackground: map-get($light, lightBackground);
  light_lightBackground1: map-get($light, lightBackground1);
  light_dark1Color: map-get($light, dark1Color);
  light_dark2Color: map-get($light, dark2Color);
  light_gray1Color: map-get($light, gray1Color);
  light_gray2Color: map-get($light, gray2Color);
  light_borderColor: map-get($light, borderColor);
  light_bgColor: map-get($light, bgColor);
  light_noteBackground: map-get($light, noteBackground);
  light_noteBorder: map-get($light, noteBorder);
  light_noteColor: map-get($light, noteColor);
  light_answerBackground: map-get($light, answerBackground);
  light_answerBorder: map-get($light, answerBorder);
  light_boxShadow1: map-get($light, boxShadow1);
  light_boxShadow2: map-get($light, boxShadow2);
  light_boxShadow3: map-get($light, boxShadow3);
  light_boxShadow4: map-get($light, boxShadow4);
  light_boxShadow5: map-get($light, boxShadow5);
  light_boxShadow6: map-get($light, boxShadow6);
  light_boxShadow7: map-get($light, boxShadow7);
  light_border1: map-get($light, border1);
  light_border2: map-get($light, border2);
  light_border3: map-get($light, border3);

  dark_backgroundErrorColor: map-get($dark, backgroundErrorColor);
  dark_mainYellow: map-get($dark, mainYellow);
  dark_mainPurple: map-get($dark, mainPurple);
  dark_mainPurpleLight: map-get($dark, mainPurpleLight);
  dark_mainOrange: map-get($dark, mainOrange);
  dark_mainRed: map-get($dark, mainRed);
  dark_mainRedLight: map-get($dark, mainRedLight);
  dark_mainGreen: map-get($dark, mainGreen);
  dark_mainGreenLight: map-get($dark, mainGreenLight);
  dark_mainBlue: map-get($dark, mainBlue);
  dark_mainBlueLight: map-get($dark, mainBlueLight);
  dark_disableColor: map-get($dark, disableColor);
  dark_lightBackground: map-get($dark, lightBackground);
  dark_lightBackground1: map-get($dark, lightBackground1);
  dark_dark1Color: map-get($dark, dark1Color);
  dark_dark2Color: map-get($dark, dark2Color);
  dark_gray1Color: map-get($dark, gray1Color);
  dark_gray2Color: map-get($dark, gray2Color);
  dark_borderColor: map-get($dark, borderColor);
  dark_bgColor: map-get($dark, bgColor);
  dark_noteBackground: map-get($dark, noteBackground);
  dark_noteBorder: map-get($dark, noteBorder);
  dark_noteColor: map-get($dark, noteColor);
  dark_answerBackground: map-get($dark, answerBackground);
  dark_answerBorder: map-get($dark, answerBorder);
  dark_boxShadow1: map-get($dark, boxShadow1);
  dark_boxShadow2: map-get($dark, boxShadow2);
  dark_boxShadow3: map-get($dark, boxShadow3);
  dark_boxShadow4: map-get($dark, boxShadow4);
  dark_boxShadow5: map-get($dark, boxShadow5);
  dark_boxShadow6: map-get($dark, boxShadow6);
  dark_boxShadow7: map-get($dark, boxShadow7);
  dark_border1: map-get($dark, border1);
  dark_border2: map-get($dark, border2);
  dark_border3: map-get($dark, border3);
}
