// Переменные для светлой темы
$light: (
  backgroundErrorColor: #fffbf6,
  mainYellow: #ffed92,
  mainPurple: #b198f5,
  mainPurpleLight: #f2c6f7,
  mainOrange: #ffc400,
  mainRed: #ec5f57,
  mainRedLight: #fa8989,
  mainGreen: #1ba829,
  mainGreenLight: #d3fa89,
  mainBlue: #289ec9,
  mainBlueLight: #40eafd,
  disableColor: #a8a8a8,
  lightBackground: #f5f5f5,
  lightBackground1: #fafafa,
  dark1Color: #0e1a1f,
  dark2Color: #505d6e,
  gray1Color: #738b94,
  gray2Color: #b8c7cc,
  borderColor: #eff1f3,
  bgColor: #f5f8fa,
  noteBackground: #fff6f2,
  noteBorder: #f5ede9,
  noteColor: #8c8c8c,
  answerBackground: #f5fcff,
  answerBorder: #e9f1f5,
  boxShadow1: 0 3px 20px rgba(0, 0, 0, 0.1),
  boxShadow2: 0 3px 16px rgba(0, 0, 0, 0.12),
  boxShadow3: 0 3px 6px rgba(0, 0, 0, 0.05),
  boxShadow4: 0 1px 1px rgba(0, 0, 0, 0.1),
  boxShadow5: 0 0 1px rgba(0, 0, 0, 0.1),
  boxShadow6: 0 1px 7px rgba(0, 0, 0, 0.1),
  boxShadow7: 0 0 16px rgba(0, 0, 0, 0.05),
  border1: 1px solid #eff1f3,
  border2: 1px solid #738b94,
  border3: 1px solid #b8c7cc,
);

// Переменные для темной темы
$dark: (
  backgroundErrorColor: #817e7b,
  mainYellow: #ffed92,
  mainPurple: #b198f5,
  mainPurpleLight: #f2c6f7,
  mainOrange: #ffc400,
  mainRed: #ec5f57,
  mainRedLight: #fa8989,
  mainGreen: #1ba829,
  mainGreenLight: #d3fa89,
  mainBlue: #289ec9,
  mainBlueLight: #40eafd,
  disableColor: #a8a8a8,
  lightBackground: #f5f5f5,
  lightBackground1: #fafafa,
  dark1Color: #0e1a1f,
  dark2Color: #ccdef3,
  gray1Color: #738b94,
  gray2Color: #b8c7cc,
  borderColor: #eff1f3,
  bgColor: #f5f8fa,
  noteBackground: #fff6f2,
  noteBorder: #f5ede9,
  noteColor: #8c8c8c,
  answerBackground: #f5fcff,
  answerBorder: #e9f1f5,
  boxShadow1: 0 3px 20px rgba(0, 0, 0, 0.1),
  boxShadow2: 0 3px 16px rgba(0, 0, 0, 0.12),
  boxShadow3: 0 3px 6px rgba(0, 0, 0, 0.05),
  boxShadow4: 0 1px 1px rgba(0, 0, 0, 0.1),
  boxShadow5: 0 0 1px rgba(0, 0, 0, 0.1),
  boxShadow6: 0 1px 7px rgba(0, 0, 0, 0.1),
  boxShadow7: 0 0 16px rgba(0, 0, 0, 0.05),
  border1: 1px solid #eff1f3,
  border2: 1px solid #738b94,
  border3: 1px solid #b8c7cc,
);